<div class="title">
    <h1>Riquelme & Morticio</h1>
</div>
<!-- <button (click)="getPersonajes()">Presioname</button> -->
<br>
<div class="container">
    <div class="row">
            <div class="col md-5" *ngFor="let item of personajes">
                <div class="personajes">
                <img class="image" src={{item.image}} alt="">
                <p>{{item.name}}</p>
                <p>{{item.species}}</p>
                <p>{{item.status}}</p>
                <p>{{item.type}}</p>

                </div>

            </div>

        

    </div>
    

</div>

<!-- <div class="container" *ngFor="let item of personajes">
    <p>{{item.name}}</p>
</div> -->
