.container{
    text-align: center;
    width: 100rem;
    
    padding: 2rem;
}
.image{
    border-radius: 2rem;
    height: 200px;
    width: 200px;
}
.title{
    text-align: center;
    padding: 2rem;
}
h1{
    color: aqua;
    font-size: 5rem;
    font-family: cursive;
}
.personajes{

    width: 210px;
    border: solid black;
    border-radius: 2rem;
    margin-block: 2rem;
    background-color: aliceblue;
}
p{
    color: black;
}
